<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/jquery.mobile-1.4.4.min.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery.mobile-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/global.js"></script>
{%block headscript%}{%endblock%}
</head>
<body>
<script type="text/javascript">
$(function(){
	$( "[data-role='header'], [data-role='footer']" ).toolbar();
	var screen = $.mobile.getScreenHeight();
	var header = $(".ui-header").hasClass("ui-header-fixed") ? $(".ui-header").outerHeight()  - 1 : $(".ui-header").outerHeight();
	var footer = $(".ui-footer").hasClass("ui-footer-fixed") ? $(".ui-footer").outerHeight() - 1 : $(".ui-footer").outerHeight();

	/* content div has padding of 1em = 16px (32px top+bottom). This step
   	can be skipped by subtracting 32px from content var directly. */
	var contentCurrent = $(".ui-content").outerHeight() - $(".ui-content").height();
	var content = screen - header - footer - contentCurrent;
	$(".ui-content").height(content);
});
</script>
	<div data-role="header" id="header" data-theme="a">
		<h1>{{title}}</h1>
		<a href="#mypanel" data-icon="gear" class="ui-btn-right">Options</a>
		<a href="{{backUrl}}" data-icon="back" class="ui-btn-left">back</a>
	</div>
	<div data-role="page" id="pageone" data-position="fixed" data-theme="a">
		<div id="content" data-role="content">{%block content%}{%endblock%}</div>
		<!-- 个人内容sidepanel -->
		<div data-role="panel" id="mypanel">
			{% import 'macro/side_panel.html' as SidePanel %}
			{%block side_panel_my%}
				{{SidePanel.sidepanel()}}
			{%endblock%}
		</div>
	</div>
	<div data-role="footer" id="footer" data-position="fixed" data-theme="a">
		<h1>{{footer}}</h1>
	</div>
</body>
</html>