{%extends "common/base.html"%}
{%block headscript%}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=tpSy3LgOY7gdzwXCfsyi5uy0"></script>
{%endblock%}
{%block content%}
<script>
function showPosition(position){
	var map=new BMap.Map("content");
	var point = new BMap.Point(position.coords.longitude, position.coords.latitude);
	map.centerAndZoom(point, 15);
	map.addControl(new BMap.NavigationControl()); 
}
//require location authentication
	if(navigator.geolocation){
		navigator.geolocation.getCurrentPosition(showPosition);
	}else{
		alert("geolocation is not supported");
	}    

</script>
{%endblock%}